<html>
<head>
</head>
<body>
    <form role="form" id="signUpForm" action="/Home/SignUpCommit" method="post" autocomplete="off">
        <fieldset>
            <input type="hidden" id="ActivityId" name="ActivityId" value="21" />
            <input type="hidden" id="userId" name="userId" value="2" />
            <input type="hidden" id="ownerUserId" name="ownerUserId" value="2" />
            <input type="hidden" id="publicityId" name="publicityId" value="" />
            <input type="hidden" id="openid" name="openid" value="bbbb" />
            <div id="legend" class="text-center">
                <legend class="">报名信息填写</legend>
            </div>
            <div class="form-group">
                <label for="Name" class="col-sm-2 control-label">中文姓名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Name" name="Name" />
                </div>
            </div>
            <div class="form-group">
                <label for="Grade" class="col-sm-2 control-label">年级</label>
                <div class="col-sm-10">
                    <select class="form-control" id="Grade" name="Grade"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="Phone" class="col-sm-2 control-label">家长联系电话</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Phone" name="Phone" />
                </div>
            </div>
            <div class="input-group">
                <div class="col-sm-10 top-left">
                    <input class="btn btn-info" type="button" id="getcode" value="点击获取手机验证码" />
                    <span id="telephonenameTip"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="SmsCode" class="col-sm-2 control-label">验证码</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="SmsCode" name="SmsCode" />
                </div>
            </div>
            <div class="form-group">
                <label for="School" class="col-sm-2 control-label">学校</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="School" name="School" />
                </div>
            </div>
            <div class="form-group">
                <label for="Area" class="col-sm-2 control-label">所在区域</label>
            </div>
            <div class="form-group">
                <label for="Address" class="col-sm-2 control-label">地址</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Address" name="Address" />
                </div>
            </div>
            <div class="form-group">
                <label for="IDCard" class="col-sm-2 control-label">身份证号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="IDCard" name="IDCard" />
                </div>
            </div>
            <div class="form-group">
                <label for="LevelOfDescription" class="col-sm-2 control-label">现有水平描述</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="LevelOfDescription" name="LevelOfDescription" />
                </div>
            </div>
            <div class="form-group">
                <label for="ClassType" class="col-sm-2 control-label">选择班型</label>
                <div class="col-sm-10">
                    <select class="form-control" id="ClassType" name="ClassType"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="ChooseTime" class="col-sm-2 control-label">选择时间</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control datepicker" id="ChooseTime" name="ChooseTime" />
                </div>
            </div>
            <div class="form-group text-center">
                <button type="button" id="submitBtn" name="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>报名</button>
                <div></div>
            </div>
        </fieldset>
    </form>
</body>
</html>