@{
    ViewBag.Title = "请稍后,正在加载";
    Layout = null;
}
@model LiveCodeDisplayA.Models.AbpResult<LiveCodeDisplayA.Models.ScanQrCodeResult>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试使用</title>
    @Styles.Render("~/Content/bootstrapcss")
    
</head>
<body style="background-color:rgb(240,240,240)">
    <div class="card" style="border-radius:10px;margin-left:6%;margin-right:6%;margin-top:20%;border-width:0">
        <div class="row" style="margin-left:20px;margin-top:20px">
            <img class="img-rounded" height="60" width="70" src="http://qrcodes-mskb.oss-cn-shanghai.aliyuncs.com/%E5%A4%B4%E5%83%8F.png" />
            <h6 class="card-title" style="padding-left:0.5em;padding-top:1em;">
                <strong>学习用品团购④群-中小家长联盟</strong>
            </h6>
        </div>
        <div class="card-body text-center">
            @*<img class="img-rounded pull-left" height="60" width="70" src="http://qrcodes-mskb.oss-cn-shanghai.aliyuncs.com/%E5%A4%B4%E5%83%8F.png" /><h7><strong>学习用品团购④群-中小家</strong></h7>*@
            <p style="padding-top:0.3em">
                <img id="qrcodeImg" class="text-center" width="300" height="300" src="http://qrcodes-mskb.oss-cn-shanghai.aliyuncs.com/%E5%A4%B4%E5%83%8F.png" />
            </p>
            <p class="card-text"><small class="text-muted">我是错误信息</small></p> 
        </div>
    </div>
    <!--<div class="container">-->
        @*<div class="card" style="border-radius:10px">
                <div class="card-body" >
                    <div class="row">
                        <img class="img-rounded" style="padding-left:0.3em;" height="60" width="70" src="http://qrcodes-mskb.oss-cn-shanghai.aliyuncs.com/%E5%A4%B4%E5%83%8F.png" />
                        <h5 class="card-title" style="padding-left:0.3em;padding-top:1em;font:bold">
                            <span>学习用品团购④群-中小家长联盟</span>
                        </h5>
                    </div>
                    <p  style="padding-top:1.5em">
                        <img id="qrcodeImg" class="center-block" width="300" height="300" src="http://qrcodes-mskb.oss-cn-shanghai.aliyuncs.com/%E5%A4%B4%E5%83%8F.png" />
                    </p>
                    <p class="card-text text-center"><small class="text-muted">我是错误信息</small></p>
                </div>
            </div>
        *@
    <!--</div>-->

    @Scripts.Render("~/bundles/jquery")
</body>
</html>

<script>
   
</script>